// font-family: 'Montserrat', sans-serif;
// font-family: 'Playfair Display', serif;

@import './setup.scss';
@import './removeDefaults.scss';

$baseFont: 'Rubik', sans-serif;
// $secondaryFont: "Playfair Display", serif;

// colours
$headingColor: #21cae8;
$mainColor: #6f43d6;
$darkColor: #14213d;

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

main {
  background-color: black;
  font-family: $baseFont;
  color: white;
}

.wrapper {
  min-height: 100vh;
  margin: 0 auto;
  max-width: 1440px;
}

.content {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    width: 90%;
    margin: 0 auto;
    min-height: 100vh;
  }

  &__highlight {
    font-size: 2.6rem;
    font-weight: 200;
    width: 65%;
    margin-top: 10px;

    @media (max-width: 768px) {
      font-size: 2.2rem;
    }

    // Mobile large
    @media (max-width: 414px) {
      font-size: 1.6rem;
    }
  }

  &__heading {
    &--main {
      font-size: 8.4rem;
      font-weight: 700;

      @media (max-width: 1024px) {
        font-size: 6.8rem;
      }

      @media (max-width: 768px) {
        font-size: 5.8rem;
      }

      // Mobile large
      @media (max-width: 425px) {
        font-size: 3.6rem;
      }
    }

    &--subtitle {
      font-size: 5.6rem;
      font-weight: 400;

      @media (max-width: 768px) {
        font-size: 3.8rem;
      }

      // Mobile large
      @media (max-width: 414px) {
        font-size: 2.6rem;
      }
    }
  }
}

.contact-links {
  display: flex;
  margin-top: 50px;

  @media (max-width: 1024px) {
    margin-top: 20px;
  }

  &__link {
    margin-right: 50px;
    &:last-of-type {
      margin-right: 0;
    }
  }

  i {
    font-size: 4.2rem;
    color: white;
    transition: all 1s ease-in-out;

    &:hover,
    &:focus {
      transform: scale(1.4);
    }
  }
}
