// font-family: 'Montserrat', sans-serif;
// font-family: 'Playfair Display', serif;

@import "./setup.scss";
@import "./removeDefaults.scss";

$baseFont: "Montserrat", sans-serif;
$secondaryFont: "Playfair Display", serif;

// colours
$headingColor: #21cae8;
$mainColor: #6f43d6;
$darkColor: #14213d;

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

p {
  line-height: 30px;
}

h2 {
  letter-spacing: 5px;
  font-size: 6rem;
  text-transform: uppercase;
}

h3 {
  letter-spacing: 3.2px;
}

body {
  font-family: $baseFont;
  font-weight: 400;
  font-size: 2rem;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
}

// nav menu styles
.navBar {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  width: 10%;
  position: fixed;
  right: 0;
  text-align: center;
  height: 100%;
  z-index: 100;
  button {
    color: white;
    border: none;
    background: none;
    padding-top: 10px;
    cursor: pointer;
    transition: transform 0.5s;
    &:hover,
    &:focus {
      transform: scale(1.2);
    }
    i {
      font-size: 3rem;
    }
  }
  .navLinks {
    display: none;
    li {
      padding: 10px 0;
      a {
        color: #14213d;
      }
    }
  }
}

// header styles
header {
  min-height: 100vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(20, 33, 61, 1) 100%
  );
  .headerContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    i {
      color: #fff;
      position: absolute;
      bottom: 1vw;
      font-size: 5rem;
    }
    .bounce {
      animation: bounce 2s;
      animation-iteration-count: infinite;
    }
    @keyframes bounce {
      0%,
      25%,
      50%,
      75%,
      100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
      40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
      }
      60% {
        -webkit-transform: translateY(-12px);
        transform: translateY(-12px);
      }
    }

    .textContainer {
      color: #fca311;
      position: relative;
      text-align: center;
      h1 {
        font-size: 9rem;
        font-weight: bold;
        text-transform: uppercase;
        span {
          font-size: 7rem;
        }
      }
      h2 {
        font-size: 2.6rem;
        color: #fff;
        font-weight: 400;
      }
      span {
        display: block;
        font-size: 7.2rem;
      }
    }
  }
}

// Intro styles, about me section.
.sectionIntro {
  background: #14213d;
  color: #fff;

  font-size: 2rem;
  min-height: 90vh;
  padding-top: 150px;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    h2 {
      grid-column: 2 / span 2;
      text-align: center;
      color: white;
    }
  }
  .imageContainer {
    grid-row: 2;
    grid-column: 1 / span 2;
    img {
      margin-top: 25px;
      margin-bottom: -25px;
      object-fit: cover;
      box-shadow: 20px 20px 1px 0px rgb(252, 163, 17);
    }
  }
  .textContainer {
    grid-row: 2;
    grid-column: 3 / span 2;
    padding: 20px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -50px;
    p {
      padding: 10px 0;
      font-weight: 300;
    }
    p:first-of-type {
      font-size: 2.7rem;
      font-weight: 500;
    }
    a {
      font-weight: 500;
      background: #14213d;
      border-radius: 10px;
      color: white;
      padding: 10px;
      transition: transform 0.5s;
      &:hover,
      &:focus {
        transform: scale(1.2);
      }
    }
  }
}

// Styles for the projects section
.sectionProjects {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='0.83' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(56.75) translate(-982.38 -736.78)'%3E%3Cuse fill='%23fafafa' href='%23s' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='2'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(56.75) translate(-982.38 -736.78)'%3E%3Cg fill='%23ebebeb'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(56.75) translate(-982.38 -736.78)'%3E%3Cg fill='%23ebebeb'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(56.75) translate(-982.38 -736.78)'%3E%3Cg fill='%23e5e5e5'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(56.75) translate(-982.38 -736.78)'%3E%3Cg fill='%23ffffff'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23e0e0e0'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(56.75) translate(-982.38 -736.78)'%3E%3Cg fill='%2314213d'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(56.75) translate(-982.38 -736.78)'%3E%3Cg fill='%2314213d'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(56.75) translate(-982.38 -736.78)'%3E%3Cg fill='%2314213d'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  min-height: 60vh;
  padding: 100px 0;
  h2 {
    text-align: center;
    text-transform: uppercase;
    color: $darkColor;
  }
  .flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .projectContainer {
    overflow: hidden;
    padding: 20px 0;
    font-size: 1.8rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    .textContainer {
    background: rgba(255, 255, 255, 0.6);

      color: #1c2f58;
      grid-column: 1 / span 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .imageContainer {
      width: 100%;
      grid-column: 3 / span 2;
    }
    h3 {
      font-size: 3.6rem;
      color: $darkColor;
    }
    h4 {
      font-size: 1.6rem;
      margin-bottom: 15px;
      font-weight: 400;
    }
    &:first-of-type .textContainer,
    &:last-of-type .textContainer {
      z-index: 100;
      text-align: right;
    }
    &:nth-of-type(2) .imageContainer {
      grid-column: 1 / span 2;
      grid-row: 1;
    }
    &:nth-of-type(2) .textContainer {
      grid-column: 3 / span 2;
    }
  }
  .linkContainer {
    a {
      display: inline-block;
      color: white;
      padding: 10px 15px;
      margin: 10px;
      text-align: center;
      background: #14213d;
      border-radius: 20px;
      transition: transform 0.5s;
      &:hover,
      &:focus {
        transform: scale(1.15);
        background: #babec5;
        color: #14213d;
      }
    }
  }
}

// Styles for the skills section
.sectionSkills {
  padding: 100px 0;
  background: #14213d;
  color: white;
  h2 {
    text-align: center;
    padding: 50px 0;
    text-transform: uppercase;
  }
  .gridContainer {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 15vw);
    gap: 50px;
    li {
      text-align: center;
      font-size: 8rem;
      &:hover {
        color: #fca311;
      }
      p {
        font-size: 2.6rem;
      }
    }
    .material-icons {
      font-size: 10rem;
    }
  }
}

// Styles for the contact section
.sectionContact {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='0.86' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(80) translate(-987.5 -740.63)'%3E%3Cuse fill='%23fafafa' href='%23s' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='2'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(80) translate(-987.5 -740.63)'%3E%3Cg fill='%23ebebeb'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(80) translate(-987.5 -740.63)'%3E%3Cg fill='%23ebebeb'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(80) translate(-987.5 -740.63)'%3E%3Cg fill='%23e5e5e5'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(80) translate(-987.5 -740.63)'%3E%3Cg fill='%23ffffff'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23e0e0e0'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(80) translate(-987.5 -740.63)'%3E%3Cg fill='%234fd5ed'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(80) translate(-987.5 -740.63)'%3E%3Cg fill='%234fd5ed'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(80) translate(-987.5 -740.63)'%3E%3Cg fill='%234fd5ed'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  padding: 100px 0;
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    h2 {
      grid-column: 1 / span 4;
      text-align: center;
    }
    form {
      grid-column: 1 / span 2;

      display: flex;
      flex-direction: column;
      textarea {
        resize: none;
        border: 1px solid black;
      }
      input {
        border: none;
        border-bottom: 1px solid black;
      }
      input,
      textarea,
      button {
        margin: 10px 0;
        padding: 10px;
      }
      button {
        border: none;
        border-radius: 20px;
        background: rgba(0, 0, 0, 0.76);
        color: white;
        transition: transform 0.5s;
        &:hover,
        &:focus {
          transform: scale(1.1);
        }
      }
    }
    .textContainer {
      grid-column: 3 / span 2;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h3 {
        padding: 10px 0;
      }
      a {
        color: black;
      }
      .icon {
        display: inline-block;
        padding: 10px;
        font-size: 4rem;
        transition: transform 0.5s;
        &:hover,
        &:focus {
          transform: scale(1.3);
        }
      }
      ul {
        padding: 20px 0;
      }
    }
  }
}

footer {
  text-align: center;
}

//Large iPad queries
@media (max-width: 875px) {
  .sectionIntro .gridContainer {
    grid-template-columns: repeat(3, 1fr);
    h2 {
      grid-column: 1 / span 3;
    }
    .textContainer {
      padding-bottom: 50px;
      margin: 0;
      grid-row: 3;
      grid-column: 1 / span 3;
      text-align: center;
    }
    .imageContainer {
      grid-column: 1 / span 3;
      width: 75%;
      margin: 0 auto;
      img {
        margin: 0;
      }
    }
  }
  .sectionProjects .projectContainer {
    grid-template-columns: repeat(2, 1fr);
    .imageContainer {
      grid-row: 1;
      grid-column: 1 / span 2;
    }
    .textContainer {
      grid-row: 2;
      grid-column: 1 / span 2;
    }
    &:nth-of-type(2) .imageContainer {
      grid-column: 1 / span 2;
      grid-row: 1;
    }
    &:nth-of-type(2) .textContainer {
      grid-column: 1 / span 2;
      grid-row: 2;
    }
    .linkContainer {
      display: flex;
      justify-content: center;
      a {
        width: 50%;
      }
    }
  }
}

// Smaller tablet queries
@media (max-width: 770px) {
  .navBar {
    button {
      padding: 10px;
    }
    width: 20%;
  }
  header .headerContainer .textContainer h1 {
    font-size: 6rem;
    span {
      font-size: 4rem;
    }
  }

  .sectionContact .gridContainer {
    grid-template-columns: repeat(3, 1fr);
    h2 {
      grid-column: 1 / span 3;
    }
    .textContainer {
      grid-column: 3 / span 1;
    }
  }
}

// smallest tablet queries
@media (max-width: 605px) {
  .sectionSkills .gridContainer {
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 25px;
    li,
    .material-icons {
      font-size: 4rem;
    }
  }
  .sectionSkills {
    .gridContainer {
      gap: 20px;
      .material-icons,
      li {
        font-size: 6rem;
      }
      li p {
        font-size: 1.8rem;
      }
    }
  }

  .sectionContact .gridContainer {
    .textContainer,
    form {
      grid-column: 1 / span 3;
      width: 100%;
    }
  }
}

// Beginning of phones queries
@media (max-width: 425px) {
  .wrapper {
    width: 90%;
  }
  .navBar {
    width: 25%;
  }
  .sectionIntro {
    .gridWrapper {
      width: 95%;
    }
    .gridContainer {
      h2 {
        margin-bottom: 20px;
      }
      .textContainer p:first-of-type {
        font-size: 2.2rem;
        font-weight: 500;
      }
      .textContainer p:last-of-type {
        font-size: 1.6rem;
        line-height: 26px;
        font-weight: 300;
      }
    }
  }

  .sectionProjects .projectContainer .linkContainer {
    flex-direction: column;
    a {
      width: 100%;
      margin: 5px 0;
    }
  }

  .sectionContact .gridContainer h2 {
    font-size: 3.8rem;
  }

  // removing hover and focus states for mobile
  .navBar button:hover,
  .navBar button:focus {
    transform: none;
  }

  .sectionIntro .textContainer a:hover,
  .sectionIntro .textContainer a:focus,
  .sectionProjects .linkContainer a:hover,
  .sectionProjects .linkContainer a:focus,
  .sectionContact button:hover,
  .sectionContact button:focus {
    transform: none;
  }
}

// Smallest phones queries
@media (max-width: 350px) {
  header .headerContainer .textContainer {
    h1 {
      font-size: 5rem;
    }
    h2 {
      font-size: 1.8rem;
    }
  }

  .sectionSkills .gridContainer li p {
    font-size: 1.6rem;
  }
}
